## DATA 601 - Spring 2023
### Homework Assignment 6
Total points : (30 + 10)<br>
 Please provide your solutions into the cells provided after question cells. You can create new cells as needed. <br>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

The data from the <code>Fish.csv</code> looks like this

In [2]:
data = pd.read_csv('Fish.csv')
df = data.copy()
#Removing outliers
df = df.drop([142,143,144])
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

The meaning of columns are as follows :
* Species: Species name of fish
* Weight: Weight of fish in gram
* Length1: Vertical length in cm
* Length2: Diagonal length in cm
* Length3: Cross length in cm
* Height: Height in cm
* Width: Diagonal width in cm

Our <b>dependent</b> variable is 'Weight'. <b>Independent</b> variables are 'length1', 'length2', 'height' and 'width' (ignore 'species').

<b>Question 1</b> [<span style="color: red;">4 + 3 + 3 = 10 points</span>]:<br>
- Choose two independent variables for predicting the weight of the fish. Justify your choice (in a comment) and show your work (Hint : correlation matrix)
- Create a <code>X</code> and <code>y</code> from the Independent (excluding species) and dependent variables respectively.
- Do a train-test split of 80%-20% and create <code>X_train,y_train</code> and <code>X_test,y_test</code>. Print out all their shapes.

In [3]:
#Correaltion between all the variables in the data set
data.corr()

           Weight   Length1   Length2   Length3    Height     Width
Weight   1.000000  0.915712  0.918618  0.923044  0.724345  0.886507
Length1  0.915712  1.000000  0.999517  0.992031  0.625378  0.867050
Length2  0.918618  0.999517  1.000000  0.994103  0.640441  0.873547
Length3  0.923044  0.992031  0.994103  1.000000  0.703409  0.878520
Height   0.724345  0.625378  0.640441  0.703409  1.000000  0.792881
Width    0.886507  0.867050  0.873547  0.878520  0.792881  1.000000

In [4]:
#Your code goes below

new_data = data[["Weight", "Length3", "Height"]]
new_data

# Calculating the correlation matrix
correlation_matrix = new_data.corr()

# Print the correlation matrix
print(correlation_matrix)

           Weight   Length3    Height
Weight   1.000000  0.923044  0.724345
Length3  0.923044  1.000000  0.703409
Height   0.724345  0.703409  1.000000

In [5]:
#creating data frame for the new_data
df_data = pd.DataFrame(new_data)
df_data

     Weight  Length3   Height
0     242.0     30.0  11.5200
1     290.0     31.2  12.4800
2     340.0     31.1  12.3778
3     363.0     33.5  12.7300
4     430.0     34.0  12.4440
..      ...      ...      ...
154    12.2     13.4   2.0904
155    13.4     13.5   2.4300
156    12.2     13.8   2.2770
157    19.7     15.2   2.8728
158    19.9     16.2   2.9322

[159 rows x 3 columns]

In [6]:
#Create a X and y from the Independent  and dependent variables respectively
Y_dep = df_data["Weight"]
X_ind = df_data[["Height","Length3"]]
print(f"Variables: {X_ind},{Y_dep}")

Variables:       Height  Length3
0    11.5200     30.0
1    12.4800     31.2
2    12.3778     31.1
3    12.7300     33.5
4    12.4440     34.0
..       ...      ...
154   2.0904     13.4
155   2.4300     13.5
156   2.2770     13.8
157   2.8728     15.2
158   2.9322     16.2

[159 rows x 2 columns],0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [7]:
#Doing a train-test split of 80%-20% and creating X_train,y_train and X_test,y_test.
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X_ind, Y_dep, test_size=0.2, random_state=42)

# print out the shapes of the training and testing sets
print("X_train shape:", X_train.shape)
print("Y_train shape:", Y_train.shape)
print("X_test shape:", X_test.shape)
print("Y_test shape:", Y_test.shape)

X_train shape: (127, 2)
Y_train shape: (127,)
X_test shape: (32, 2)
Y_test shape: (32,)

<b>Question 2</b> [<span style="color: red;">4+2+2+2 = 10 points</span>]:<br>
- Use linear regression from scikit learn to train (fit) on <code>X_train,y_train</code>
- Show the intercept and coefficients from the fitted model
- Use <code>X_test</code> to predict <code>y_pred_test</code>.
- Calculate absolute and relative errors between <code>y_pred_test</code> and <code>y_test</code>

In [8]:
#Using Linear Regresssion to train
from sklearn.linear_model import LinearRegression
model = LinearRegression(fit_intercept = True)
model.fit(X_train, Y_train)

LinearRegression()

In [9]:
#Printing the intercept and coefficients values from the fitted model
print("beta_0:", model.intercept_)
print("beta_1, beta_2:", model.coef_)

beta_0: -511.36476722758084
beta_1, beta_2: [10.76888973 25.78265944]

In [10]:
#Using X_test to predict y_pred_test
y_pred_test = model.predict(X_test)

In [11]:
Absolute_error = np.linalg.norm(y_pred_test - Y_test)
Relative_error = Absolute_error / np.linalg.norm(Y_test)
print("Absolute mean error:", Absolute_error)
print("Relative error:", Relative_error)

Absolute mean error: 774.3235570354714
Relative error: 0.2349384556520177

<b>Question 3</b> [<span style="color: red;">4 + 3 + 3 = 10 points</span>]:<br>
- Use polynomial basis function of degree 2 to train (fit) on <code>X_train,y_train</code>
- Use <code>X_test</code> to predict <code>y_pred_test</code>.
- Calculate absolute and relative errors between <code>y_pred_test</code> and <code>y_test</code>

In [14]:
from sklearn.preprocessing import PolynomialFeatures

# create polynomial features of degree 2
poly = PolynomialFeatures(degree=2)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.fit_transform(X_test)

# fit the model using linear regression
beta = np.linalg.lstsq(X_train_poly, Y_train, rcond=None)[0]

# predict the target variable for the test set using the computed coefficients and the test features
y_pred_test_2 = np.dot(X_test_poly, beta)

# calculate the absolute and relative errors between y_test and y_pred_test
absolute_error_2 = np.linalg.norm(y_pred_test_2 - Y_test)
relative_error_2 = absolute_error_2 / np.linalg.norm(Y_test)

print("Absolute error:", absolute_error_2)
print("Relative error:", relative_error_2)

Absolute error: 487.57941558140783
Relative error: 0.14793706566667422

BONUS QUESTION : <b>Question 4</b>[<span style="color: red;">10 points</span>]: 
Do the same as Question 2, but without using <code>scikit-learn</code>. (Hint: check out <code>LR_example_II.ipynb</code>). Your absolute error and relative error values should be similar but needn't be the same (for respective comparisons with values from Question 2.

In [17]:
new_train_x = np.ones([127,3])
#creating X1 to augment the ones in the first column
new_train_x[:,1:3] = X_train 
#using leastsquares
betas,_,_,_ = np.linalg.lstsq(new_train_x,Y_train,rcond=None)
print("beta_0",betas[0])
print("beta_1, beta_2:",betas[1:3])

beta_0 -511.36476722758084
beta_1, beta_2: [10.76888973 25.78265944]

In [18]:
new_test_x = np.ones([32,3])
new_test_x[:,1:3] = X_test
y_pred_test_3 = np.dot(X_test,betas[1:3])+betas[0]

In [20]:
absolute_error_3 = np.linalg.norm(y_pred_test_3 - Y_test)

relative_error_3 = absolute_error_3/np.linalg.norm(Y_test)
print("Absolute error:", absolute_error_3)
print("Relative error:", relative_error_3)

Absolute error: 774.3235570354705
Relative error: 0.23493845565201743

~Chathurya